// SLIDE MINI CART
.header-mini-cart {
    @include transition(.3s);
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;

    z-index: 1001;
    right: -300px;
    max-width: 300px;
}

.open {
    .header-mini-cart {
        right: 0;
        max-width: 300px;
    }
}

//////////////
// OPTIONAL //
//////////////


//Minicart Header
.header-mini-cart-top {
	width: 100%;
	overflow: auto;
	margin-bottom: 25px;
	margin-top: 25px;
	padding-right: 40px;
	font-size: 15px;

	@media screen and (max-width: 486px) {
		padding-right: 0;
	}
}

//Scrollable Item container
.header-mini-cart-container {
	height: calc(100vh - 150px);
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: $sc-margin-lv4;
	padding-right: 40px;

	& > div {
		max-width: 390px;
		width: 100%;
		overflow: hidden;
	}
}

//Stay at bottom mini cart footer
.kd-mini-cart-bottom {
	width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 15px 40px 0;
	left: 0;
	text-align: center;
	background: #fff;
	font-size: 15px;
	line-height: 24px;
}